.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  background-color: #232729;
  color: white;
}

.f1 {
  background-color: #232729;
  width: 100%;
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f2 {
  width: 100%;
  padding: 15px 0 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  width: 90%;
  margin-top: 5px !important;
}

.driver-section {
  padding: 0px 10px 0px 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.company-section {
  padding: 0px 10px 0px 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-path {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  margin-bottom: 1rem;
}

.section-path:hover {
  color: #0a3b73;
  cursor: pointer;
}

.section-path:hover .icon-style {
  color: #0a3b73;
  cursor: pointer;
}

.icon-style {
  width: 20px;
  height: 20px;
  color: white;
  padding-right: 5px;
}
